@charset "UTF-8";
*{
	padding: 0;
	margin: 0;
}
 
header{
    display:block;
    margin:0 auto;
    width:500px;
    text-align:center;
    /* background: #6e2f70; */
}
 
header h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size:60px;
    font-weight:bold;
    margin-top: 10px;
    margin-bottom: 10px;    
}
 
header #newgamebutton{
    width:100px;
    padding:10px;
    background:#8f7a66;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    border-radius:10px;
    text-decoration:none;
}

header #newgamebutton:hover{
    background:#9f8b77;
}

header #pausegamebutton{
    width:100px;
    padding:10px;
    background:#8f7a66;
    font-family:Arial, Helvetica, sans-serif;
    color:white;
    border-radius:10px;
    text-decoration:none;
}
 
 
header #pausegamebutton:hover{
    background:#9f8b77;
}

header p{
    font-family:Arial, Helvetica, sans-serif;
    font-size:25px;
    margin:20px auto;
}
 
#grid-container{
    width:512px;
    height:512px;
    padding: 5px;
    margin: auto;
    /* margin:40px auto; */
    background:#bbada0;
    border-radius:10px;
    position:relative;
}
 
.grid-cell{
    width:28px;
    height:28px;
    border-radius:6px;
    background:#ccc0b3;
    position:absolute;
}
 
#gameover{
    background-color:black;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    font-size:60px;
    position: absolute;
    top:45%;
    left:42%;
    width:250px;
    text-align:center;
    display: none;
}

#copyright-container{

    width: 192px;
    height: 48px;
    padding: 5px;
    margin: 10px auto;
    background:#dfd2c7;
    border-radius:10px;
    text-align: center;
    position:relative;
    /* background:#cc5e5e; */
    /* background: #0000ff; */
}